<div class="container">
<%= link_to "Create new restaurant", new_restaurant_path, class: "btn btn-primary" %>
<% @restaurants.each do |restaurant| %>
<div style="margin:10px">
<p><%= restaurant.name%>, category: <%= restaurant.category %> </p>
<p>address: <%= restaurant.address%>, phone numer: <%= restaurant.phone_number%> </p>
<%= link_to "Go to restaurant", restaurant_path(restaurant), class: "btn btn-primary"%>
</div>
<%end%>

</div>
